DROP DATABASE IF EXISTS sistemaeducacional;
CREATE DATABASE sistemaeducacional;
USE sistemaeducacional;

-- TABELA DE GRUPOS DE USUÁRIOS
-- Controla os diferentes níveis de acesso no sistema
CREATE TABLE grupos_usuarios (
    id_grupo VARCHAR(50) PRIMARY KEY,
    nome_grupo VARCHAR(100) NOT NULL UNIQUE,
    descricao TEXT,
    nivel_acesso INT NOT NULL, -- 1=Operador, 5=Coordenador, 10=Admin
    criado_em TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    atualizado_em TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
) COMMENT 'Grupos de permissão: controla níveis de acesso dos usuários';

-- Inserir grupos padrão
INSERT INTO grupos_usuarios (id_grupo, nome_grupo, descricao, nivel_acesso) VALUES
('ADMIN', 'Administrador', 'Acesso total ao sistema, pode criar usuários e alterar configurações', 10),
('COORDENADOR', 'Coordenador', 'Pode gerenciar cursos, disciplinas, turmas e visualizar relatórios', 5),
('OPERADOR', 'Operador', 'Pode realizar operações básicas de cadastro de alunos e notas', 1);

-- TABELA DE USUÁRIOS DO SISTEMA
-- Usuários que têm acesso ao sistema (não são alunos)
CREATE TABLE usuario (
    id_usuario VARCHAR(50) PRIMARY KEY,
    nome VARCHAR(255) NOT NULL,
    email VARCHAR(255) UNIQUE NOT NULL,
    senha VARCHAR(255) NOT NULL,
    cpf VARCHAR(14) UNIQUE NOT NULL,
    id_grupo VARCHAR(50) NOT NULL,
    ativo BOOLEAN DEFAULT TRUE,
    criado_em TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    atualizado_em TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    ultimo_acesso TIMESTAMP NULL,
    FOREIGN KEY (id_grupo) REFERENCES grupos_usuarios(id_grupo)
) COMMENT 'Usuários administrativos do sistema com controle de acesso baseado em grupos';


-- TABELA DE ALUNOS
-- Dados cadastrais dos alunos matriculados
CREATE TABLE aluno (
    ra VARCHAR(50) PRIMARY KEY,
    nome VARCHAR(255) NOT NULL,
    cpf VARCHAR(14) UNIQUE NOT NULL,
    email VARCHAR(255) UNIQUE NOT NULL,
    telefone VARCHAR(20),
    datanascimento DATE NOT NULL,
    criado_em TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    criado_por VARCHAR(50),
    atualizado_em TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    FOREIGN KEY (criado_por) REFERENCES usuario(id_usuario)
) COMMENT 'Cadastro de alunos da instituição';

-- TABELA DE AUDITORIA
-- Registra todas as operações críticas realizadas no sistema
CREATE TABLE auditoria (
    id_auditoria VARCHAR(50) PRIMARY KEY,
    tabela VARCHAR(100) NOT NULL,
    operacao VARCHAR(20) NOT NULL,
    id_registro VARCHAR(50),
    usuario VARCHAR(50),
    data_operacao TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    dados_anteriores TEXT,
    dados_novos TEXT,
    ip_origem VARCHAR(45),
    FOREIGN KEY (usuario) REFERENCES usuario(id_usuario)
) COMMENT 'Log de auditoria de todas operações do sistema';

-- TABELA DE CURSOS
CREATE TABLE curso (
    id_curso BIGINT PRIMARY KEY,
    nome_curso VARCHAR(255) NOT NULL,
    descricao TEXT,
    carga_horaria INT,
    duracao_semestres INT,
    ativo BOOLEAN DEFAULT TRUE,
    criado_em TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    criado_por VARCHAR(50),
    atualizado_em TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    FOREIGN KEY (criado_por) REFERENCES usuario(id_usuario)
) COMMENT 'Cursos oferecidos pela instituição';

-- TABELA DE DISCIPLINAS
CREATE TABLE disciplina (
    id_disciplina BIGINT PRIMARY KEY,
    nome_disciplina VARCHAR(255) NOT NULL,
    carga_horaria INT,
    id_curso BIGINT,
    ementa TEXT,
    ativo BOOLEAN DEFAULT TRUE,
    criado_em TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    criado_por VARCHAR(50),
    atualizado_em TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    FOREIGN KEY (id_curso) REFERENCES curso(id_curso),
    FOREIGN KEY (criado_por) REFERENCES usuario(id_usuario)
) COMMENT 'Disciplinas dos cursos';

-- TABELA DE PROFESSORES
CREATE TABLE professor (
    id_professor BIGINT PRIMARY KEY,
    nome VARCHAR(255) NOT NULL,
    cpf VARCHAR(14) UNIQUE NOT NULL,
    email VARCHAR(255) UNIQUE NOT NULL,
    telefone VARCHAR(20),
    especialidade VARCHAR(255),
    ativo BOOLEAN DEFAULT TRUE,
    criado_em TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    criado_por VARCHAR(50),
    atualizado_em TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    FOREIGN KEY (criado_por) REFERENCES usuario(id_usuario)
) COMMENT 'Cadastro de professores';

-- TABELA DE TURMAS
CREATE TABLE turma (
    id_turma BIGINT PRIMARY KEY,
    nome_turma VARCHAR(255) NOT NULL,
    id_disciplina BIGINT,
    id_professor BIGINT,
    semestre INT,
    ano INT,
    horario VARCHAR(100),
    ativo BOOLEAN DEFAULT TRUE,
    criado_em TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    criado_por VARCHAR(50),
    atualizado_em TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    FOREIGN KEY (id_disciplina) REFERENCES disciplina(id_disciplina),
    FOREIGN KEY (id_professor) REFERENCES professor(id_professor),
    FOREIGN KEY (criado_por) REFERENCES usuario(id_usuario)
) COMMENT 'Turmas oferecidas por semestre';

-- TABELA DE MATRÍCULAS
CREATE TABLE matricula (
    id_matricula BIGINT PRIMARY KEY,
    ra_aluno VARCHAR(50) NOT NULL,
    id_turma BIGINT NOT NULL,
    data_matricula DATE,
    status VARCHAR(20) DEFAULT 'ATIVA',
    criado_em TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    criado_por VARCHAR(50),
    atualizado_em TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    FOREIGN KEY (ra_aluno) REFERENCES aluno(ra),
    FOREIGN KEY (id_turma) REFERENCES turma(id_turma),
    FOREIGN KEY (criado_por) REFERENCES usuario(id_usuario)
) COMMENT 'Matrículas de alunos em turmas';

-- TABELA DE NOTAS
CREATE TABLE nota (
    id_nota BIGINT PRIMARY KEY,
    id_matricula BIGINT NOT NULL,
    tipo_avaliacao VARCHAR(50),
    nota DECIMAL(5,2) NOT NULL,
    data_avaliacao DATE,
    peso DECIMAL(5,2),
    observacao TEXT,
    criado_em TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    criado_por VARCHAR(50),
    atualizado_em TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    FOREIGN KEY (id_matricula) REFERENCES matricula(id_matricula),
    FOREIGN KEY (criado_por) REFERENCES usuario(id_usuario),
    CONSTRAINT chk_nota CHECK (nota >= 0 AND nota <= 10)
) COMMENT 'Notas das avaliações dos alunos';

-- ÍNDICES

-- Índice idx_usuario_email usado para autenticação, melhora velocidade de login
CREATE INDEX idx_usuario_email ON usuario(email);

-- Índice idx_aluno_cpf usado para validação e busca de alunos
CREATE INDEX idx_aluno_cpf ON aluno(cpf);

-- Índice idx_turma_disciplina usado para listagem de turmas por disciplina
CREATE INDEX idx_turma_disciplina ON turma(id_disciplina);

-- Índice idx_matricula_aluno usado para histórico escolar e boletim
CREATE INDEX idx_matricula_aluno ON matricula(ra_aluno);

-- Índice idx_matricula_turma usado para listar alunos de uma turma
CREATE INDEX idx_matricula_turma ON matricula(id_turma);

-- Índice idx_nota_matricula_tipo usado para cálculo de médias por tipo de avaliação
CREATE INDEX idx_nota_matricula_tipo ON nota(id_matricula, tipo_avaliacao);

-- Índice idx_auditoria_tabela_data usado para relatórios de auditoria filtrados por tabela e período
CREATE INDEX idx_auditoria_tabela_data ON auditoria(tabela, data_operacao);

-- Índice idx_disciplina_curso usado para listagem rápida de disciplinas na grade curricular
CREATE INDEX idx_disciplina_curso ON disciplina(id_curso);

-- Índice idx_professor_ativo usado para listagem de professores disponíveis para alocação
CREATE INDEX idx_professor_ativo ON professor(ativo);

-- Índice idx_turma_periodo usado para consultas de turmas oferecidas no período
CREATE INDEX idx_turma_periodo ON turma(ano, semestre, ativo);

-- FUNCTIONS PARA GERAÇÃO DE IDs

DELIMITER $$

-- Function para gerar ID de Auditoria
-- Formato: AUD + timestamp + número aleatório
CREATE FUNCTION gerar_id_auditoria()
RETURNS VARCHAR(50)
DETERMINISTIC
BEGIN
    DECLARE novo_id VARCHAR(50);
    SET novo_id = CONCAT('AUD', DATE_FORMAT(NOW(), '%Y%m%d%H%i%s'), LPAD(FLOOR(RAND() * 10000), 4, '0'));
    RETURN novo_id;
END$$

-- Function para gerar ID de Curso
-- Formato: Sequencial com prefixo
CREATE FUNCTION gerar_id_curso()
RETURNS BIGINT
DETERMINISTIC
BEGIN
    DECLARE ultimo_id BIGINT;
    SELECT COALESCE(MAX(id_curso), 1000) INTO ultimo_id FROM curso;
    RETURN ultimo_id + 1;
END$$

-- Function para gerar ID de Disciplina
CREATE FUNCTION gerar_id_disciplina()
RETURNS BIGINT
DETERMINISTIC
BEGIN
    DECLARE ultimo_id BIGINT;
    SELECT COALESCE(MAX(id_disciplina), 2000) INTO ultimo_id FROM disciplina;
    RETURN ultimo_id + 1;
END$$

-- Function para gerar ID de Professor
CREATE FUNCTION gerar_id_professor()
RETURNS BIGINT
DETERMINISTIC
BEGIN
    DECLARE ultimo_id BIGINT;
    SELECT COALESCE(MAX(id_professor), 3000) INTO ultimo_id FROM professor;
    RETURN ultimo_id + 1;
END$$

-- Function para gerar ID de Turma
CREATE FUNCTION gerar_id_turma()
RETURNS BIGINT
DETERMINISTIC
BEGIN
    DECLARE ultimo_id BIGINT;
    SELECT COALESCE(MAX(id_turma), 4000) INTO ultimo_id FROM turma;
    RETURN ultimo_id + 1;
END$$

-- Function para gerar ID de Matrícula
CREATE FUNCTION gerar_id_matricula()
RETURNS BIGINT
DETERMINISTIC
BEGIN
    DECLARE ultimo_id BIGINT;
    SELECT COALESCE(MAX(id_matricula), 5000) INTO ultimo_id FROM matricula;
    RETURN ultimo_id + 1;
END$$

-- Function para gerar ID de Nota
CREATE FUNCTION gerar_id_nota()
RETURNS BIGINT
DETERMINISTIC
BEGIN
    DECLARE ultimo_id BIGINT;
    SELECT COALESCE(MAX(id_nota), 6000) INTO ultimo_id FROM nota;
    RETURN ultimo_id + 1;
END$$

-- Function para gerar RA de Aluno
-- Formato: RA + ANO + Número sequencial (7 dígitos)
CREATE FUNCTION gerar_ra_aluno()
RETURNS VARCHAR(50)
DETERMINISTIC
BEGIN
    DECLARE novo_ra VARCHAR(50);
    DECLARE seq INT;
    DECLARE ano_atual VARCHAR(4);
    
    SET ano_atual = YEAR(NOW());
    
    -- Busca o último número sequencial do ano
    SELECT COALESCE(MAX(CAST(SUBSTRING(ra, 7) AS UNSIGNED)), 0) INTO seq
    FROM aluno 
    WHERE ra LIKE CONCAT('RA', ano_atual, '%');
    
    SET novo_ra = CONCAT('RA', ano_atual, LPAD(seq + 1, 7, '0'));
    RETURN novo_ra;
END$$

-- Function para calcular média ponderada de um aluno em uma matrícula
CREATE FUNCTION calcular_media_matricula(p_id_matricula BIGINT)
RETURNS DECIMAL(5,2)
READS SQL DATA
BEGIN
    DECLARE media DECIMAL(5,2);
    
    SELECT ROUND(SUM(nota * peso) / SUM(peso), 2) INTO media
    FROM nota
    WHERE id_matricula = p_id_matricula;
    
    RETURN COALESCE(media, 0);
END$$

DELIMITER ;

-- TRIGGERS

DELIMITER $$

-- Trigger 1: Auditoria automática de alterações em ALUNO
CREATE TRIGGER trg_aluno_audit_update
AFTER UPDATE ON aluno
FOR EACH ROW
BEGIN
    INSERT INTO auditoria (
        id_auditoria, tabela, operacao, id_registro, 
        usuario, dados_anteriores, dados_novos
    ) VALUES (
        gerar_id_auditoria(),
        'aluno',
        'UPDATE',
        NEW.ra,
        NEW.criado_por,
        CONCAT('Nome:', OLD.nome, '|Email:', OLD.email, '|Tel:', OLD.telefone),
        CONCAT('Nome:', NEW.nome, '|Email:', NEW.email, '|Tel:', NEW.telefone)
    );
END$$

-- Trigger 2: Validação de notas antes de inserir
CREATE TRIGGER trg_nota_validacao_insert
BEFORE INSERT ON nota
FOR EACH ROW
BEGIN
    IF NEW.nota < 0 OR NEW.nota > 10 THEN
        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT = 'Nota deve estar entre 0 e 10';
    END IF;
    
    IF NEW.peso IS NULL OR NEW.peso <= 0 THEN
        SET NEW.peso = 1.0;
    END IF;
END$$

-- Trigger 3: Auditoria de exclusão de matrículas
CREATE TRIGGER trg_matricula_audit_delete
BEFORE DELETE ON matricula
FOR EACH ROW
BEGIN
    INSERT INTO auditoria (
        id_auditoria, tabela, operacao, id_registro,
        usuario, dados_anteriores
    ) VALUES (
        gerar_id_auditoria(),
        'matricula',
        'DELETE',
        OLD.id_matricula,
        OLD.criado_por,
        CONCAT('RA:', OLD.ra_aluno, '|Turma:', OLD.id_turma, '|Status:', OLD.status)
    );
END$$

-- Trigger 4: Atualizar último acesso do usuário no login
CREATE TRIGGER trg_usuario_ultimo_acesso
BEFORE UPDATE ON usuario
FOR EACH ROW
BEGIN
    IF NEW.email != OLD.email OR NEW.senha != OLD.senha THEN
        SET NEW.ultimo_acesso = NOW();
    END IF;
END$$

DELIMITER ;

-- VIEWS

-- View 1: Boletim completo do aluno
CREATE VIEW vw_boletim_aluno AS
SELECT 
    a.ra,
    a.nome AS nome_aluno,
    c.nome_curso,
    d.nome_disciplina,
    t.nome_turma,
    t.semestre,
    t.ano,
    p.nome AS nome_professor,
    m.id_matricula,
    m.status AS status_matricula,
    n.tipo_avaliacao,
    n.nota,
    n.peso,
    n.data_avaliacao,
    calcular_media_matricula(m.id_matricula) AS media_final
FROM aluno a
INNER JOIN matricula m ON a.ra = m.ra_aluno
INNER JOIN turma t ON m.id_turma = t.id_turma
INNER JOIN disciplina d ON t.id_disciplina = d.id_disciplina
INNER JOIN curso c ON d.id_curso = c.id_curso
INNER JOIN professor p ON t.id_professor = p.id_professor
LEFT JOIN nota n ON m.id_matricula = n.id_matricula
WHERE a.ra IS NOT NULL;

-- View 2: Turmas com vagas disponíveis
CREATE VIEW vw_turmas_disponiveis AS
SELECT 
    t.id_turma,
    t.nome_turma,
    d.nome_disciplina,
    d.carga_horaria,
    c.nome_curso,
    p.nome AS professor,
    t.semestre,
    t.ano,
    t.horario,
    COUNT(m.id_matricula) AS total_matriculados,
    (40 - COUNT(m.id_matricula)) AS vagas_disponiveis
FROM turma t
INNER JOIN disciplina d ON t.id_disciplina = d.id_disciplina
INNER JOIN curso c ON d.id_curso = c.id_curso
INNER JOIN professor p ON t.id_professor = p.id_professor
LEFT JOIN matricula m ON t.id_turma = m.id_turma AND m.status = 'ATIVA'
WHERE t.ativo = TRUE
GROUP BY t.id_turma, t.nome_turma, d.nome_disciplina, d.carga_horaria, 
         c.nome_curso, p.nome, t.semestre, t.ano, t.horario
HAVING vagas_disponiveis > 0;

-- View 3: Relatório de desempenho por disciplina
CREATE VIEW vw_desempenho_disciplina AS
SELECT 
    d.id_disciplina,
    d.nome_disciplina,
    c.nome_curso,
    t.semestre,
    t.ano,
    COUNT(DISTINCT m.id_matricula) AS total_alunos,
    ROUND(AVG(calcular_media_matricula(m.id_matricula)), 2) AS media_geral,
    ROUND(MIN(calcular_media_matricula(m.id_matricula)), 2) AS menor_media,
    ROUND(MAX(calcular_media_matricula(m.id_matricula)), 2) AS maior_media,
    SUM(CASE WHEN calcular_media_matricula(m.id_matricula) >= 6 THEN 1 ELSE 0 END) AS aprovados,
    SUM(CASE WHEN calcular_media_matricula(m.id_matricula) < 6 THEN 1 ELSE 0 END) AS reprovados
FROM disciplina d
INNER JOIN curso c ON d.id_curso = c.id_curso
INNER JOIN turma t ON d.id_disciplina = t.id_disciplina
INNER JOIN matricula m ON t.id_turma = m.id_turma
WHERE m.status IN ('ATIVA', 'CONCLUIDA')
GROUP BY d.id_disciplina, d.nome_disciplina, c.nome_curso, t.semestre, t.ano;

-- PROCEDURES

DELIMITER $$

-- Procedure 1: Matricular aluno em turma
CREATE PROCEDURE sp_matricular_aluno(
    IN p_ra_aluno VARCHAR(50),
    IN p_id_turma BIGINT,
    IN p_usuario VARCHAR(50)
)
BEGIN
    DECLARE v_vagas INT;
    DECLARE v_id_matricula BIGINT;
    
    -- Verifica se há vagas
    SELECT (40 - COUNT(*)) INTO v_vagas
    FROM matricula
    WHERE id_turma = p_id_turma AND status = 'ATIVA';
    
    IF v_vagas <= 0 THEN
        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT = 'Turma sem vagas disponíveis';
    END IF;
    
    -- Verifica se aluno já está matriculado
    IF EXISTS (SELECT 1 FROM matricula WHERE ra_aluno = p_ra_aluno AND id_turma = p_id_turma) THEN
        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT = 'Aluno já matriculado nesta turma';
    END IF;
    
    -- Cria a matrícula
    SET v_id_matricula = gerar_id_matricula();
    
    INSERT INTO matricula (id_matricula, ra_aluno, id_turma, data_matricula, status, criado_por)
    VALUES (v_id_matricula, p_ra_aluno, p_id_turma, CURDATE(), 'ATIVA', p_usuario);
    
    -- Registra auditoria
    INSERT INTO auditoria (id_auditoria, tabela, operacao, id_registro, usuario, dados_novos)
    VALUES (
        gerar_id_auditoria(),
        'matricula',
        'INSERT',
        v_id_matricula,
        p_usuario,
        CONCAT('RA:', p_ra_aluno, '|Turma:', p_id_turma)
    );
    
    SELECT 'Matrícula realizada com sucesso!' AS mensagem, v_id_matricula AS id_matricula;
END$$

-- Procedure 2: Gerar relatório de aluno
CREATE PROCEDURE sp_relatorio_aluno(IN p_ra_aluno VARCHAR(50))
BEGIN
    -- Dados do aluno
    SELECT * FROM aluno WHERE ra = p_ra_aluno;
    
    -- Histórico de matrículas
    SELECT * FROM vw_boletim_aluno WHERE ra = p_ra_aluno ORDER BY ano DESC, semestre DESC;
    
    -- Estatísticas
    SELECT 
        COUNT(DISTINCT m.id_matricula) AS total_disciplinas,
        ROUND(AVG(calcular_media_matricula(m.id_matricula)), 2) AS media_geral,
        SUM(CASE WHEN calcular_media_matricula(m.id_matricula) >= 6 THEN 1 ELSE 0 END) AS aprovacoes,
        SUM(CASE WHEN calcular_media_matricula(m.id_matricula) < 6 THEN 1 ELSE 0 END) AS reprovacoes
    FROM matricula m
    WHERE m.ra_aluno = p_ra_aluno AND m.status IN ('ATIVA', 'CONCLUIDA');
END$$

-- Procedure 3: Lançar nota e calcular média automaticamente
CREATE PROCEDURE sp_lancar_nota(
    IN p_id_matricula BIGINT,
    IN p_tipo_avaliacao VARCHAR(50),
    IN p_nota DECIMAL(5,2),
    IN p_peso DECIMAL(5,2),
    IN p_data_avaliacao DATE,
    IN p_observacao TEXT,
    IN p_usuario VARCHAR(50)
)
BEGIN
    DECLARE v_id_nota BIGINT;
    
    SET v_id_nota = gerar_id_nota();
    
    INSERT INTO nota (id_nota, id_matricula, tipo_avaliacao, nota, peso, data_avaliacao, observacao, criado_por)
    VALUES (v_id_nota, p_id_matricula, p_tipo_avaliacao, p_nota, p_peso, p_data_avaliacao, p_observacao, p_usuario);
    
    SELECT 
        'Nota lançada com sucesso!' AS mensagem,
        v_id_nota AS id_nota,
        calcular_media_matricula(p_id_matricula) AS media_atualizada;
END$$

DELIMITER ;

-- USUÁRIOS E CONTROLE DE ACESSO

-- Usuário Administrador: Acesso total
CREATE USER IF NOT EXISTS 'admin_sistema'@'localhost' IDENTIFIED BY 'AdminS3cur3!2025';
GRANT ALL PRIVILEGES ON sistemaeducacional.* TO 'admin_sistema'@'localhost';
GRANT EXECUTE ON sistemaeducacional.* TO 'admin_sistema'@'localhost';

-- Usuário Coordenador: Leitura completa e escrita limitada
CREATE USER IF NOT EXISTS 'coordenador_sistema'@'localhost' IDENTIFIED BY 'CoordS3cur3!2025';
GRANT SELECT ON sistemaeducacional.* TO 'coordenador_sistema'@'localhost';
GRANT INSERT, UPDATE ON sistemaeducacional.curso TO 'coordenador_sistema'@'localhost';
GRANT INSERT, UPDATE ON sistemaeducacional.disciplina TO 'coordenador_sistema'@'localhost';
GRANT INSERT, UPDATE ON sistemaeducacional.turma TO 'coordenador_sistema'@'localhost';
GRANT INSERT, UPDATE ON sistemaeducacional.matricula TO 'coordenador_sistema'@'localhost';
GRANT EXECUTE ON PROCEDURE sistemaeducacional.sp_relatorio_aluno TO 'coordenador_sistema'@'localhost';
GRANT EXECUTE ON FUNCTION sistemaeducacional.calcular_media_matricula TO 'coordenador_sistema'@'localhost';

-- Usuário Operador: Apenas operações básicas
CREATE USER IF NOT EXISTS 'operador_sistema'@'localhost' IDENTIFIED BY 'OperS3cur3!2025';
GRANT SELECT ON sistemaeducacional.aluno TO 'operador_sistema'@'localhost';
GRANT SELECT ON sistemaeducacional.curso TO 'operador_sistema'@'localhost';
GRANT SELECT ON sistemaeducacional.disciplina TO 'operador_sistema'@'localhost';
GRANT SELECT ON sistemaeducacional.turma TO 'operador_sistema'@'localhost';
GRANT SELECT ON sistemaeducacional.professor TO 'operador_sistema'@'localhost';
GRANT SELECT, INSERT, UPDATE ON sistemaeducacional.nota TO 'operador_sistema'@'localhost';
GRANT SELECT ON sistemaeducacional.vw_boletim_aluno TO 'operador_sistema'@'localhost';
GRANT EXECUTE ON PROCEDURE sistemaeducacional.sp_lancar_nota TO 'operador_sistema'@'localhost';

-- Usuário somente leitura (para relatórios)
CREATE USER IF NOT EXISTS 'relatorio_sistema'@'localhost' IDENTIFIED BY 'RelatS3cur3!2025';
GRANT SELECT ON sistemaeducacional.* TO 'relatorio_sistema'@'localhost';
GRANT EXECUTE ON FUNCTION sistemaeducacional.calcular_media_matricula TO 'relatorio_sistema'@'localhost';

FLUSH PRIVILEGES;

-- DADOS INICIAIS

-- Usuários administrativos do sistema (senhas: 123456 ou 12345)
INSERT INTO usuario (id_usuario, nome, email, senha, cpf, id_grupo) VALUES
('U001', 'Administrador', 'admin@sistema.edu', 'e10adc3949ba59abbe56e057f20f883e', '11111111111', 'ADMIN'),
('U002', 'Coordenador Silva', 'coordenador@sistema.edu', 'e10adc3949ba59abbe56e057f20f883e', '22222222222', 'COORDENADOR'),
('U003', 'Operador João', 'operador@sistema.edu', '827ccb0eea8a706c4c34a16891f84e7b', '33333333333', 'OPERADOR');

-- DADOS DE TESTE - POPULAÇÃO COMPLETA

-- Alunos (10 alunos) - usando RAs gerados manualmente no padrão

-- Cursos (usando função de geração de ID)

-- Professores (usando função de geração de ID)

-- Disciplinas (usando IDs fixos para facilitar referência)

-- Turmas (usando IDs fixos)

-- Matrículas (usando IDs fixos)

-- Notas (usando IDs fixos)

-- CONSULTAS DE VERIFICAÇÃO E TESTES

-- Estatísticas gerais
SELECT 'Total de Grupos:' AS Info, COUNT(*) AS Total FROM grupos_usuarios;
SELECT 'Total de Usuários:' AS Info, COUNT(*) AS Total FROM usuario;
SELECT 'Total de Alunos:' AS Info, COUNT(*) AS Total FROM aluno;
SELECT 'Total de Cursos:' AS Info, COUNT(*) AS Total FROM curso;
SELECT 'Total de Disciplinas:' AS Info, COUNT(*) AS Total FROM disciplina;
SELECT 'Total de Professores:' AS Info, COUNT(*) AS Total FROM professor;
SELECT 'Total de Turmas:' AS Info, COUNT(*) AS Total FROM turma;
SELECT 'Total de Matrículas:' AS Info, COUNT(*) AS Total FROM matricula;
SELECT 'Total de Notas:' AS Info, COUNT(*) AS Total FROM nota;

-- Teste das views
SELECT '=== TURMAS DISPONÍVEIS ===' AS Info;
SELECT * FROM vw_turmas_disponiveis LIMIT 5;

SELECT '=== DESEMPENHO POR DISCIPLINA ===' AS Info;
SELECT * FROM vw_desempenho_disciplina LIMIT 5;

-- Teste de função de cálculo de média
SELECT '=== TESTE DE CÁLCULO DE MÉDIA ===' AS Info;
SELECT 
    m.id_matricula,
    a.nome AS aluno,
    d.nome_disciplina,
    calcular_media_matricula(m.id_matricula) AS media_calculada
FROM matricula m
INNER JOIN aluno a ON m.ra_aluno = a.ra
INNER JOIN turma t ON m.id_turma = t.id_turma
INNER JOIN disciplina d ON t.id_disciplina = d.id_disciplina
LIMIT 10;

-- FIM DO SCRIPT
